body {
  font-family: sans-serif;
  background: #333;
  color: white;
  text-shadow: black 0 0 1px;
}
a {
  color: white;
}
table {
  border-collapse: collapse;
  font-size: 80%;
}
th {
  text-align: center;
  background-color: #555;
  cursor: default;
}
td, th {
  border: 1px solid #555;
  padding: 5px;
}
a img {
  border: 0;
}

.popup {
  display: none;
  z-index: 1;
}
td {
  position: relative;
}
td:hover .popup {
  display: block;
  position: absolute;
  top: -95px;
  left: 120px;
}

.color-r {
  color: #ff6563;
}
.color-g {
  color: #7fff00;
}
.color-b {
  color: #87ceeb;
}
.color-y {
  color: #efc851;
}
.color-p {
  color: #f8f;
}